extends layout
block scripts 
 script(src="/javascripts/murojs.js" defer)
block content
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark") 
   div(class="container-fluid")
    a(href="/",class="link-light") Volver 
    if(nick)
     a(href="user/perfil",class="link-light") #{nick}: Datos de perfil
    else 
     p 
    a(href="/logout",class="link-light") Logout #{nick}
  h1.titulo= title
  h5.buscador Buscador 
  form(action="/public/buscar", method="post")
   div(class="form-floating mb-3")
    input(type="text", name="palabraclave",class="form-control", required)
    label(for="palabraclave") Palabra clave: 
    br
    input(type="submit",class="btn btn-primary", value="Buscar")
  h2.subtitulo Muro publico
  .container.mx-auto.mt-4
   .row
    each post in posts    
      .col-md-4
       div(class="p-3 mb-2 bg-secondary text-white",style='width: 15rem;border-radius:20px;')
        div(style='width: 13rem;background:url("../images/fotaza.png") no-repeat;opacity: 1;')
         img.card-img-top(src=post.Img.url,style='width: 207px;opacity: 0.7;width: 207px')
        .card-body
         h5.card-title=post.titulo
         p.card-text
          |Tags:
         p(class="text-break")= post.etiquetas
         p.card-text=`Promedio: ${post.dataValues.promedio}`